<div class="register-container">
  <!-- <h2>Welcome Back</h2> -->
  <p class="subtitle">Sign up to continue to Credwise</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="firstName" formControlName="firstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <input type="tel" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" required>
    </div>
    <div class="form-group">
      <input type="email" id="email" formControlName="email" placeholder="Email Address" required>
    </div>
    <div class="form-group">
      <input type="password" id="password" formControlName="password" placeholder="Password" required>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
  <p class="login-link">Already have an account? <a routerLink="/login">Login here</a></p>
</div>